<div class="container-fluid">
    <div id="navbar">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Hello Doctor</a>
            <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit" id="logout">Logout</button>
        </nav>
    </div>
    <br>
    <br>
    <div class="row market-updates">
        <div class="col-md-5 market-update-gd">
            <div class="market-update-block clr-block-1">
                <div class="col-md-8 market-update-left">
                    <h4>View Appointments</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-calendar"> </i>
                </div>
            </div>
        </div>
        <div class="col-md-5 market-update-gd">
            <div class="market-update-block clr-block-2">
                <div class="col-md-8 market-update-left">
                    <h4>Patient List Under You</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-user-o"></i>
                </div>
            </div>
        </div>
        <!--<div class="col-md-5" id="right-content">
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Patient Id</th>
            <th>Patient Name</th>
            <th>Disease</th>
            <th>Appointment Date</th>
          </tr>
        </thead>
        <tr *ngFor="let a of doctor">
          <td>{{a.patientId}}</td>
          <td>{{a.patientName}}</td>
          <td>{{a.Disease}}</td>
          <td>{{a.appointmentDate}}</td>
        </tr>
        </table>-->
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>