<br><br>
<div class="container-fluid">
    <div>
        <div>
            <h1 style="text-align: center;">All Appointments</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Patient Id</th>
                        <th scope="col">Patient Name</th>

                        <th scope="col">DoctorId</th>
                        <th scope="col">Doctor Name</th>
                        
                        <th scope="col">Disease</th>
                        <th scope="col">Status</th>
                        <th scope="col">prescription</th>
                        <th scope="col">Date Of Request</th>
                        <th scope="col">Date Of Treatment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trans of allTransactionsResult">
                        <th scope="row">{{trans.patientId}}</th>
                        <td>{{trans.patientName}}</td>

                        <td>{{trans.doctorId}}</td>
                        <td>{{trans.doctorName}}</td>

                        <td>{{trans.disease}}</td>
                        <td>{{trans.status}}</td>
                        <td>{{trans.prescription}}</td>
                        <td>{{trans.dateOfRequest}}</td>
                        <td>{{trans.dateOfTreatment}}</td>
                    </tr>
                </tbody>
         
            </table>
        </div>
    </div>
</div>