<br><br><br><br>
<div class="container">
<div class="row">
    <div class="panel panel-primary" style="margin-left:10%;background-color: antiquewhite;">
        <div class="col-md-10">
            <table class="table table-hover" id="dev-table">
                    <tr style="align-items: center;">
                        <th>Patient Id</th>
                        <th>Patient Name</th>
                        <th>Disease</th>
                        <th>Appointment Date</th>
                        <th>Approve</th>
                        <th>Decline</th>
                    </tr>
                <!--<tr *ngFor="let a of doctor">
            <td>{{a.patientId}}</td>
            <td>{{a.patientName}}</td>
            <td>{{a.Disease}}</td>
            <td>{{a.appointmentDate}}</td>
        </tr>-->
            </table>
        </div>
    </div>
</div>
