<form [formGroup]="feedbackForm" (ngSubmit)="submit()" style="padding:10px;height:100%;width:100%">
    <div>
        <div class="form-group">
            <label for="comment">
                <h2>Feedback</h2>
            </label>
            <textarea [ngClass]="{'is-invalid':submitted && feedbackForm.controls['feedback'].errors}"
                formControlName="feedback" class="form-control" rows="10" cols="100" id="comment"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary mb-4">Send Feedback</button>
    </div>
    <button type="submit" class="btn btn-success mb-3" (click)="close()">Cancel</button>
</form>