<br>

<div class="container-fluid">
    <form>
    <form [formGroup]="feedbackForm" (ngSubmit)="submit()">
        <div class="panel panel-primary"  class="row" style="margin-left:50%;margin-top:5%; ">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="comment">Feedback: </label>
                    <textarea [ngClass]="{'is-invalid':submitted && feedbackForm.controls['description'].errors}" formControlName="description" class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>
            <br>
            <button  type="submit" class="btn btn-primary mb-4">Add Feedback</button>
        </div>
    </form>
</form>
