
<div class="fluid-container">
    <div class="row" >
        <div class="col-md-4">
            <div class="card">
            <div class="text-center" id="grabSignup">
                <h1>Signup</h1><hr>

                <h5>Feel Free To Register !!!</h5>
                
                <form>
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                        <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1">
                      </div>

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div  id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                       
                        <button type="submit" class="btn btn-primary mb-3">Signup</button>
                    </form>
                    </form>
                    <a style=" margin-top: 10px;" routerLink="/login">Already Registered ? Click here Login!!</a>

             </div>
            </div>
        </div>
    </div>
</div>