<br><br>
<div class="container-fluid">
  <div>
    <div>
      <h1 style="text-align: center;">Patients</h1>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Patient Id</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Age</th>
            <th scope="col">Weight</th>
            <th scope="col">Disease</th>
            <th scope="col">Prescription Needed</th>
            <th scope="col">Date Of Request</th>
            <th scope="col">Date Of Prescription</th>
            
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let trans of forwardedTransactions">
            <!-- <form action=""> -->
            <th scope="row">{{trans.patientId}}</th>
            <td>{{trans.patientName}}</td>
            <td>{{trans.patientAge}}</td>
            <td>{{trans.patientweight}}</td>
            <td>{{trans.disease}}</td>
            <td>{{trans.prescription}}</td>
            <td>{{trans.dateOfRequest}}</td>
            <td>{{trans.dateOfTreatment}}</td>
            
            <!-- </form> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
