<br><br>
<div class="container-fluid">
    <div>
        <div>

            <table class="table" >
                <thead>
                    <tr>
                        <th scope="col">Patient Id</th>
                        <th scope="col">DoctorId</th>
                        <th scope="col">Disease</th>
                        <th scope="col">Status</th>
                        <th scope="col">prescription</th>
                        <th scope="col">Date Of Request</th>
                        <th scope="col">Date Of Treatment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
