<br><br><br><br>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Feedback</h1>
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col">Feedback Id</th>
                    <th scope="col">Patient Id</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Soultion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of user">

                    <td>{{a.feedbackId}}</td>
                    <td>{{a.patientId}}</td>
                    <td>{{a.patientName}}</td>
                    <td>{{a.description}}</td>
                    <td>{{a.solution}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
