<div class="container-fluid">
    <div id="navbar">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Hello Admin! {{user.userName}}</a>
            <span class="fill-space"></span>
            <div class="button">
                <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit" id="logout">Change
                    Password</button>
                &nbsp;
                <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit" id="logout">Logout</button>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <div class="row market-updates">
        <div class="col-md-4 market-update-gd" (click)="openAppointments()">
            <div class="market-update-block clr-block-1">
                <div class="col-md-8 market-update-left">
                    <h4>View Appointments</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-calendar"> </i>
                </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd" (click)="openAddDoctorDialog()">
            <div class="market-update-block clr-block-2">
                <div class="col-md-8 market-update-left">
                    <h4>Add Doctor</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-user-o"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd" (click)="openFeedbacks()">
            <div class="market-update-block clr-block-3">
                <div class="col-md-8 market-update-left">
                    <h4>View Feedback</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd" (click)="openAddKioskDialog()">
            <div class="market-update-block clr-block-4">
                <div class="col-md-8 market-update-left">
                    <h4>Add Kiosk</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-user-o"> </i>
                </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd" (click)="openDoctors()">
            <div class="market-update-block clr-block-3">
                <div class="col-md-8 market-update-left">
                    <h4>View Doctors</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-user-o"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd" (click)="openPatients()">
            <div class="market-update-block clr-block-1">
                <div class="col-md-8 market-update-left">
                    <h4>View Patients</h4>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-user-o"></i>
                </div>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>