<br><br><br><br>
<div class="container">
    <div class="row">

        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col">Transaction Id</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Your Status</th>
                    <th scope="col">Prescription By Doctor</th>
                    <th scope="col">Give Feedback</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trans of myTransactions">
                    <td>{{trans.transactionId}}</td>
                    <td>{{trans.disease}}</td>
                    <td>{{trans.status}}</td>
                    <td>{{trans.prescription}}</td>
                    <td><button class="btn btn-primary">Give Feedback</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
