<div class="container-fluid" ><br>
<div>
    <h1>Our Organization</h1>
</div>
<br><br>
<div class="row">
    <div class="col-md-7 " id="left-content">
       <p>Highmark Health's businesses include the Highmark Health Plan, one of America's largest Blue Cross Blue Shield insurers; a growing regional hospital and physician network; and leading companies that offer dental solutions, reinsurance solutions, population health management, and innovative, technology solutions.</p> <br>

<p>We serve individual consumers and fellow businesses in all 50 states and the District of Columbia. <span> We're headquartered in <span>Pittsburgh </span> , as are several of our businesses.</span></p> <br>
<p>And our legacy is strong and deep,<span>beginning in the year 1848</span>. Learn more about our companies. </p>

    </div>
    <div class="col-md-5" id="right-content"><img src="https://live.staticflickr.com/65535/48069231343_3fd0ca04ca_b.jpg" alt="" width="350px" height="380px"></div>

    <div class="col-md-7" id="mission">
       <h2 align="center">Mission</h2>
        <p>To offer qualitative and comprehensive services in a patient-friendly environment with a focus on clinical excellence, safety, dignity and transparency, while staying affordable and accessible to every patient in need.</p>
     </div>
     <div class="col-md-5" id="vision">
        <h2 align="center">Vision</h2>
        <p>To create a world-class medical facility, wherein patients are treated with compassion.</p>
     </div>
</div>
</div>