

<div class="container-fluid">
  <div id="navbar">
    <nav class="rows navbar navbar-expand-lg" style="text-align: center;" id="brandbar">
      <div class="col-md-10">
        <a id="brandcenter" class="navbar-brand" href="#" style="color: white;font-size:xx-large;">HighMark Health</a>
      </div>
        <div class="col-md-2 button" id="logout">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit" (click)="login()" style="color: white;font-size: large;border: none;">Login</button>
          <!-- <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit" id="logout">Logout</button> -->
        </div>
    </nav>
</div><br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://pbs.twimg.com/media/FjZs5MwaMAA6qEO.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://pbs.twimg.com/media/FltxD7ZacAAS--6?format=jpg&name=medium" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://pbs.twimg.com/media/FjJGblqagAEmeAs.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <br><br>
    <div>
        <h1 style="padding: 25px;">Our Organization</h1>
    </div>
    <div class="row" style="padding: 25px;font-size: medium;">
        <div class="col-md-7 " id="left-content">
            <p>Highmark Health's businesses include the Highmark Health Plan, one of America's largest Blue Cross Blue
                Shield insurers; a growing regional hospital and physician network; and leading companies that offer
                dental solutions, reinsurance solutions, population health management, and innovative, technology
                solutions.</p> <br>

            <p>We serve individual consumers and fellow businesses in all 50 states and the District of Columbia. <span>
                    We're headquartered in <span>Pittsburgh </span> , as are several of our businesses.</span></p> <br>
            <p>And our legacy is strong and deep,<span>beginning in the year 1848</span>. Learn more about our
                companies. </p>

            <h2 style="text-decoration: underline;" align="center">Mission</h2>
            <p>To offer qualitative and comprehensive services in a patient-friendly environment with a focus on
                clinical excellence, safety, dignity and transparency, while staying affordable and accessible to every
                patient in need.</p>


            <h2 style="text-decoration: underline;" align="center">Vision</h2>
            <p>To create a world-class medical facility, wherein patients are treated with compassion.</p>

        </div>
        <div class="col-md-5" id="right-content"><img
                src="https://live.staticflickr.com/65535/48069231343_3fd0ca04ca_b.jpg" alt="" width="400px"
                height="380px"> <br><br>
            <h4 align="center">Highmark Health</h4>
        </div>


    </div>
</div>

<footer class="footer text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn text-white btn-floating m-2"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/highmarkhealth/"
          target="_blank"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-2"
          style="background-color: #55acee;"
          href="https://twitter.com/Highmark/"
          target="_blank"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- youtube -->
        <a
          class="btn text-white btn-floating m-2"
          style="background-color: #dd4b39;"
          href="https://www.youtube.com/highmarkhealthy"
          target="_blank"
          role="button"
          ><i class="fab fa-youtube"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-2"
          style="background-color: #bc2a8d;"
          href="https://www.instagram.com/highmark/?hl=en"
          target="_blank"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/company/highmark-health/"
          target="_blank"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    
    <div class="text-center p-3 lower-footer">
        Customer Service: 
        1 (800) 241-5704
    </div>
    <!-- Copyright -->
  </footer>