<br><br>
<div class="container-fluid">
  <div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Patient Id</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Age</th>
            <th scope="col">Weight</th>
            <th scope="col">Disease</th>
            <th scope="col">Date Of Request</th>
            <th scope="col">Prescription Needed</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let trans of forwardedTransactions">
            <!-- <form action=""> -->
            <th *ngIf="trans.prescription == 'null'" scope="row">{{trans.patientId}}</th>
            <td *ngIf="trans.prescription == 'null'">{{trans.patientName}}</td>
            <td *ngIf="trans.prescription == 'null'" >{{trans.patientAge}}</td>
            <td *ngIf="trans.prescription == 'null'">{{trans.patientweight}}</td>
            <td *ngIf="trans.prescription == 'null'">{{trans.disease}}</td>
            <td *ngIf="trans.prescription == 'null'">{{trans.dateOfRequest}}</td>
            <td *ngIf="trans.prescription == 'null'"><button class="btn btn-primary"
                (click)="givePrescription(trans.transactionId)">Give Prescription</button></td>
            <!-- </form> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>