.brand{
    margin-top: 10px;
   
}

  #sidebar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
   


  }
  #sidebar-content-1{

    align-items: center;
    margin: 20px;

  }
  #core-content-sidebar{
  
    font-size: larger;
    font-weight: 500;


  }
  #sidebar{
    background-color: #EAFDFC;
    position: fixed;
    float: left;
  /* Full-height: remove this if you want "auto" height */

  }

 #links{
    color: #3E6D9C

  }
  #links:hover{
    color: #001253;
    font-size: 1.1em;
    text-decoration: underline;
  }
