<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3.1 col-xl-2.1 px-sm-2 px-0 "   id="sidebar">
      
      <div class=" d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <div class="brand d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline" > <img src="assets/img/brand.jpg" alt="none" width="190px"></span>
          </a>
       
      </div>
        <div id="sidebar-content">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <div id="sidebar-content-1">
              <li class="nav-item">
                <a routerLink="/about"class="nav-link align-middle px-0"  id="links"  >
                  <i class="fs-3 fa fa-info-circle" aria-hidden="true"></i><span id="core-content-sidebar"
                 class="ms-1 d-none d-sm-inline">    About</span>
                </a>
              </li>
            </div>
            <div id="sidebar-content-1">
            <li>
              <a routerLink="/admin"class="nav-link px-0 align-middle"  id="links">
                <i class="fs-3 fa fa-user" aria-hidden="true"></i><span id="core-content-sidebar"
                  class="ms-1 d-none d-sm-inline"> Administrator</span> </a>
            </li>
          </div>
          <div id="sidebar-content-1">
            <li>
              <a routerLink="/kiosk" class="nav-link px-0 align-middle"  id="links">
                <i class="fs-3 fa fa-laptop" aria-hidden="true"></i><span id="core-content-sidebar" class="ms-1 d-none d-sm-inline"> Kiosk</span>
              </a>
            </li>
          </div>
          <div id="sidebar-content-1">
            <li>
              <a routerLink="/doctor" class="nav-link px-0 align-middle"  id="links">
                <i class="fs-3 fa fa-user-md" aria-hidden="true"></i> <span id="core-content-sidebar"
                  class="ms-1 d-none d-sm-inline"> Doctors</span> </a>
            </li>
          </div>
          <div id="sidebar-content-1">
            <li>
              <a routerLink="/patient" class="nav-link px-0 align-middle"  id="links">
                <i class="fs-3 fa fa-user-plus" aria-hidden="true"></i> 
                <span id="core-content-sidebar"
                  class="ms-1 d-none d-sm-inline"> Patient</span> </a>
            </li>
          </div>
          </ul>
        </div>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>