.brand{
    margin-top: 10px;
   
}

  #sidebar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

  }
  #sidebar-content-1{

    align-items: center;
    margin: 20px;
  }
  #core-content-sidebar{
    color: #202A44;

  }
  #sidebar{
    background-color: #EAFDFC;

  }