<div class="container-fluid" style="margin: 0;padding: 0;">
  <div class="row flex-nowrap" style="margin: 0;padding: 0;">
    <div class="col-auto col-md-3.1 col-xl-2.1 px-sm-2 px-0 "  style="margin: 0;padding: 0;" id="sidebar">
      
      <div class=" d-flex flex-column align-items-center  align-items-sm-start  min-vh-100">
        <div class="brand d-flex flex-column align-items-center align-items-sm-start">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto  text-decoration-none">
            <span class="fs-5 d-none d-sm-inline" > <img src="assets/img/brand.jpg" alt="none" width="190px"></span>
          </a>
       
      </div>
        <div id="sidebar-content">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <div id="sidebar-content-1">
              <li class="nav-item">
                <a routerLink="/about"  id="links" routerLinkActive="active" >
                  <i class="fs-3 fa fa-info-circle" aria-hidden="true"></i><span id="core-content-sidebar"
                 class="ms-1 d-none d-sm-inline">    About</span>
                </a>
              </li>
            </div>
            <div id="sidebar-content-1">
            <li>
              <a routerLink="/login" id="links" routerLinkActive="active">
                <i class="fs-3 fa fa-user" aria-hidden="true"></i><span id="core-content-sidebar"
                  class="ms-1 d-none d-sm-inline"> Administrator</span> </a>
            </li>
          </div>
          <div id="sidebar-content-1">
            <li>
              <a routerLink="/login1" id="links" routerLinkActive="active" >
                <i class="fs-3 fa fa-laptop" aria-hidden="true"></i><span id="core-content-sidebar" class="ms-1 d-none d-sm-inline"> Kiosk</span>
              </a>
            </li>
          </div>
          <div id="sidebar-content-1">
            <li>
              <a routerLink="/login2"  id="links" routerLinkActive="active" >
                <i class="fs-3 fa fa-user-md" aria-hidden="true"></i> <span id="core-content-sidebar"
                  class="ms-1 d-none d-sm-inline"> Doctors</span> </a>
            </li>
          </div>
          <div id="sidebar-content-1">
            <li>
              <a routerLink="/patientLogin"  id="links" routerLinkActive="active" >
                <i class="fs-3 fa fa-user-plus" aria-hidden="true"></i> 
                <span id="core-content-sidebar"
                  class="ms-1 d-none d-sm-inline"> Patient</span> </a>
            </li>
          </div>
          </ul>
        </div>
        <hr>
      </div>
    </div>
    <div class="col py-3" style="padding: 0;margin: 0;" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>