<br><br>
<div class="container-fluid">
  <div>
    <div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Patient Id</th>
            <th scope="col">Assign Doctor</th>
            <th scope="col">Disease</th>
            <th scope="col">Date Of Request</th>
            <th scope="col">Approve</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let trans of pendingTransactions">
            <!-- <form action=""> -->
              <th scope="row">{{trans.patientId}}</th>
              <td>
                <div class="mb-3" class="form-group">
                  <select name="doctorId" (change)="selectedData($event)"  class="form-control">
                    <option class="form-control">Assign Doctor</option>
                    <option class="form-control" *ngFor="let doctor of doctorsList">Doctor Id
                      -{{doctor.id}}&nbsp;||&nbsp;{{doctor.
                      doctorName|titlecase}}&nbsp;||&nbsp;{{doctor.
                      specialization|titlecase}}&nbsp;Specialist</option>
                  </select>
                </div>
              </td>
              <td>{{trans.disease}}</td>
              <td>{{trans.dateOfRequest}}</td>
              <td><button class="btn btn-primary" (click)="submit(trans.transactionId)">Forward To Doctor</button></td>
            <!-- </form> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
