<br><br>
<div class="container-fluid">
    <div>
        <div>
            <h1 style="text-align: center;">Doctors List</h1>
            <table class="table" >
                <thead>
                    <tr>
                        <th scope="col">Doctor Id</th>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Password</th>
                        <th scope="col">Years Of Experience</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                        <!---<th scope="col">Availability</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let a of user">
                        <!--<th scope="row">1</th>-->
                        <td>{{a.id}}</td>
                        <td>{{a.doctorName}}</td>
                        <td>{{a.password}}</td>
                        <td>{{a.yearsOfExperience}}</td>
                        <td>{{a.specialization}}</td>
                        <td>{{a.mobile}}</td>
                        <td>{{a.email}}</td>
                        <!---<td>{{a.availabilty}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
