<html>

<body>
  <div class="container " id="ft-form">
    <div class="row">
      <form action="SEND ADDRESS" class="col-4 bookappointment">
        <fieldset>
          <legend class="title py-4">Book Appointment</legend>
          <hr>
          <label class="py-2 mb-1">
            Name:&nbsp;&nbsp;&nbsp;
            <input class="label" type="text" name="name" required>
          </label>
          <br>
          <label class="py-2">
            Age:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="label" type="text" name="age" required>
          </label>
          <br>
          <label class="py-2">
            Address:
            <input class="label" type="text" name="address" required>
          </label>
          <br>
          <label class="py-2">
            Disease:
            <input class="label" type="text" name="disease" required>
          </label>
          <br>
          <label class="py-2">
            Weight:&nbsp;
            <input class="label" type="text" name="weight" required>
          </label>
          <br>
          <label class="py-2">
            Date of Appointment:
            <input class="label" type="date" name="Appointment request" required>
          </label>
        </fieldset>
        <button type="button" class="btn">Book </button>
      </form>
    </div>
  </div>

</body>

</html>

<!--
  <div class="fluid-conatiner" id="loginmaincontent">
  <div class="row" id="loginform">
    <div id="login" class="col-md-5">
      <h1>{{loginType}} Login</h1>
      <div id="hr">
      </div><br>
      <form [formGroup]="form" class="form" (ngSubmit)="submit()">
        <div class="mb-3" >
        <label class="mb-3"  for="logintype">Login Type</label>  
            <select formControlName="website" id="logintype" class="form-control">  
                <option class="form-control">Choose Role</option>  
                <option class="form-control" *ngFor="let role of roles">{{role}}</option>  
            </select>  
          </div>
        <div class="mb-3">
          <label class="mb-3" for="userId">User Id</label>
          <input type="text" class="form-control " id="userId" name="userId" formControlName="userId" placeholder="User Id">
        </div>    
        <div class="mb-3">
          <label class="mb-3" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password">
        </div>
        <button style="background-color: #001253; border:1px solid #9388A2" type="submit"
          class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
-->