<html>
<body>
<form action="SEND ADDRESS" id="ft-form" method="POST" accept-charset="UTF-8">
  <fieldset>
    <legend class="py-4">Book Appointment</legend>
    <label class="py-2">
      Name: 
      <input type="text" name="name" required>
    </label>
    <br>
    <label class="py-2">
      Age: 
      <input type="text" name="age" required>
    </label>
    <br>
    <label class="py-2">
      Address: 
      <input type="text" name="address" required>
    </label>
    <br>
    <label class="py-2">
      Disease: 
      <input type="text" name="disease" required>
    </label>
    <br>
    <label class="py-2">
      Weight: 
      <input type="text" name="weight" required>
    </label>
    <br>
    <label class="py-2">
        Date of Appointment: 
        <input type="date" name="Appointment request" required>
      </label>
  </fieldset>
  <button type="button" class="btn btn-primary">Book </button>
</form>
</body>
</html>
