<html>

<body>

  <div id="navbar">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">Hello {{user.name  | titlecase}}</a>

      <span class="fill-space"></span>
      <div class="button">
        <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit" id="logout">Change
          Password</button>
        &nbsp;
        <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit" id="logout">Logout</button>
      </div>
    </nav>
  </div>

  <div class="fluid-conatiner" id="loginmaincontent">
    <div class="row" id="loginform">
      <div id="login" class="col-md-5">
        <h1>Book Appointment</h1>
        <div id="hr">
        </div><br>
        <form class="form">

          <div class="mb-3">
            <label class="mb-1" for="age">Age</label>
            <input type="text" class="form-control " id="age" name="age" formControlName="age" placeholder="Age">
          </div>
          <div class="mb-3">
            <label class="mb-1" for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" formControlName="address"
              placeholder="Address">
          </div>
          <div class="mb-3">
            <label class="mb-1" for="disease">Disease</label>
            <input type="text" class="form-control" id="disease" name="disease" formControlName="disease"
              placeholder="Disease">
          </div>
          <div class="mb-3">
            <label class="mb-1" for="weight">Weight</label>
            <input type="text" class="form-control" id="weight" name="weight" formControlName="weight"
              placeholder="Weight">
          </div>
          <button style="background-color: #001253; border:1px solid #9388A2" type="submit"
            class="btn btn-primary">Book</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>